*{margin: 0px;}
nav{display: flex;
    justify-content:
     space-around;
     align-items: center;}

nav > ul{display: flex;
    margin: 0px 200px;}

nav li{list-style: none;
    margin: 30px;}

nav a{text-decoration: none;
    color: #474747;}

.btn-praimary{ background-color: orangered;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;}
.btn{color: tomato;}

.head{background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;}

.banner{padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;}
.picture{width: 500px;height: 600x;}

.bt-praimary{margin: 10px 0px;
     background-color: orangered;
     color: white;
     border: 0;border-radius: 5px;
     padding: 5px;
     font-size: 14px;
     font-weight: bold;}
     .about{border: 1px solid black;border-radius: 10px; background-color: aqua;padding: 130px;width: 500px;margin: 0px auto;margin-top: 30px;}
     .div-tittle{text-align: center;font-size: 22px;font-weight: bold;margin-bottom: 20px;}
     .div-desc{display: inline;}

     .about-info-contain{display: flex;margin-top: 20px;justify-content: space-around;}
     .about-info{text-align: center;}
     .what{max-width: 500px;height:auto;margin: 0 auto;margin-top: 20px;text-align: center;padding: 100px;}
     .para{color: aqua;}
 .skill-container{display: flex;gap: 40px;}
 .skill{padding: 30px;border-radius: 5px;background-color:black;
box-shadow: 0px 30px 40px rgba(0,0,0,06);color: aliceblue;margin-bottom: 10px;}
.summary{text-align: center;margin-top: 40px;}
.resume-container{display: flex;padding: 30px;align-items: center; margin: 20px;}
.resume-coloum{margin-right: 10px;}

 